= link_to program_stream_path(program_stream), class: 'btn btn-outline btn-info btn-xs', 'aria-label': t('shared.actions.view', default: 'View') do
  = fa_icon('eye', 'aria-hidden': true)
- if can? :update, ProgramStream
  = link_to edit_program_stream_path(program_stream), class: 'btn btn-outline btn-success btn-xs', 'aria-label': t('shared.actions.edit', default: 'Edit') do
    = fa_icon('pencil', 'aria-hidden': true)
  = delete_button(program_stream)
