.row
  .col-xs-12
    .pull-left
      %button.btn.btn-primary.btn-filter{"aria-expanded" => 'false', "aria-label" => t('shared.actions.filter', default: 'Toggle search filters'), "data-target" => '#family-search-form', "data-toggle" => 'collapse', type: 'button'}
        = fa_icon('filter', 'aria-hidden': true)
    .pull-right
      - if can? :manage, Family
        = link_to "#{I18n.t('families.index.add_new_family')}", new_family_path, class: 'btn btn-primary'
      = link_to "#{I18n.t('families.index.export_xls')}", current_url(format: 'xls'), class: 'btn btn-info btn-export'

.row.ibox-space
  .col-xs-12
    .ibox-content#family-search-form.collapse
      = datagrid_form_for @family_grid, url: families_url, html: { class: 'grid-form' }
.row
  .col-xs-12
    .ibox.float-e-margins
      .ibox-title
        %h5= @results
        %span.label.label-info= t('.results')
        %form.record-cards__sort{ method: 'get', action: families_url, role: 'search', 'aria-label' => t('.sort_label', default: 'Sort households') }
          - (params[:family_grid] || {}).each do |k, v|
            - next if %w(order descending).include?(k.to_s)
            - if v.is_a?(Array)
              - v.each { |item| concat hidden_field_tag("family_grid[#{k}][]", item) }
            - else
              = hidden_field_tag("family_grid[#{k}]", v)
          %label.sr-only{ for: 'family_grid_order' }= t('.sort_label', default: 'Sort households')
          = select_tag 'family_grid[order]', options_for_select([[t('.sort_name', default: 'Name'), 'name'], [t('.sort_members', default: 'Members'), 'member_count'], [t('.sort_province', default: 'State'), 'province']], params.dig(:family_grid, :order)), include_blank: t('.sort_default', default: 'Sort by…'), id: 'family_grid_order', class: 'form-control input-sm record-cards__sort-select', onchange: 'this.form.submit()'
      .ibox-content
        %h2#families-list-heading.sr-only= t('.card_list_label', default: 'Households')
        %ul.record-cards{ role: 'list', 'aria-labelledby' => 'families-list-heading' }
          = render partial: 'families/family_card', collection: @family_grid.assets, as: :object
      .ibox-footer.text-center
        = paginate @family_grid.assets
