- if ec.present?
  .col-xs-12.col-sm-12.col-md-6.case#case
    .ibox
      .ibox-title
        %h5 Resettlement Case
        .ibox-tools
          - if can? :manage, Case
            - if current_user.admin? || current_user.case_worker? || current_user.ec_manager? || current_user.manager?
              %small
                = link_to edit_client_case_path(ec.client, ec) do
                  .btn.btn-outline.btn-success
                    = t('.edit_btn')
                - if @client.has_no_latest_kc_and_fc?
                  %button.btn.btn-outline.btn-warning{"data-target" => '#exit-from-case', "data-toggle" => 'modal'}
                    = t('.exit_btn')
      .ibox-content
        %section.overflow-case
          %table.table.table-bordered
            %tr
              %td.spacing-first-col Intake Date
              %td
                %strong
                  = ec.start_date.strftime('%B %d, %Y') if ec.start_date
            %tr
              %td.spacing-first-col Household
              %td
                %strong
                  = family ec.family if ec.family
            %tr
              %td.spacing-first-col Case Manager
              %td
                %strong
                  = @client.users.map(&:name).join(', ')
            %tr
              %td.spacing-first-col Status
              %td
                %strong
                  = @client.status.to_s.sub(/\AActive .*/, 'Active')
            - if ec.exit_date.present?
              %tr
                %td.spacing-first-col Exit Date
                %td
                  %strong
                    = ec.exit_date.strftime('%B %d, %Y') if ec.exit_date
          %h5.m-t-sm.m-b-xs Enrolled programs
          %table.table.table-striped
            - @client.client_enrollments.includes(:program_stream).order(:enrollment_date).each do |ce|
              %tr
                %td= ce.program_stream.try(:name)
                %td.text-right
                  %span.label.label-primary= ce.status
            - if @client.client_enrollments.empty?
              %tr
                %td.text-muted Not yet enrolled in a program.
  = render 'exit_case_form', client_case: @client.cases.exclude_referred.latest_emergency, exit_from_cif: false if @client.has_no_latest_kc_and_fc?
