.row
  .col-xs-12.col-md-4.col-lg-3
    .pull-left
      %button.btn.btn-primary.btn-filter{"aria-expanded" => 'false', "aria-label" => t('shared.actions.filter', default: 'Toggle search filters'), "data-target" => '#client-search-form', "data-toggle" => 'collapse', type: 'button'}
        %i.fa.fa-filter{"aria-hidden" => "true"}
      - if can? :manage, :all
        %button.btn.btn-primary#client-statistic
          %i.fa.fa-line-chart{"aria-hidden" => "true"}
          %span= t('.reports')
  .col-xs-12.col-md-8.col-lg-9
    .pull-right.client-option
      - if can? :manage, Client
        = link_to t('.add_new_client'), new_client_path, class: 'btn btn-primary'
      = link_to t('.advanced_search'), client_advanced_searches_path, class: 'class btn btn-info'
      = link_to t('.view_all_active_tasks'), tasks_path, class: 'btn btn-info'
      = link_to t('.export_program_data'), current_url({format: 'xls', type: 'basic_info'}), class: 'btn btn-info btn-export'
      = link_to t('.export_to_xls'), current_url(format: 'xls'), class: 'btn btn-info btn-export'
.row
  .col-xs-12
    .ibox-content#client-advance-search-form.collapse

.row
  .col-xs-12
    .ibox-content#client-search-form.collapse
      = datagrid_form_for @client_grid, url: clients_url, html: { class: 'grid-form' }
.row#client-statistic-body
  .col-xs-12.mini-margin
    .ibox
      .row
        .col-xs-12.col-md-6
          .ibox-content
            #cis-domain-score{ "data-csi-domain" => @csi_statistics, "data-title" => t('.csi_domain_scores'), "data-yaxis-title" => t('.domain_score')}

        .col-xs-12.col-md-6
          .ibox-content
            #case-statistic{ "data-case-statistic" => @cases_statistics, "data-title" => t('.case_statistics'), "data-yaxis-title" => t('.client_amount') }
.row.mini-margin
  .col-xs-12
    .ibox
      .ibox-title
        %h5= @results
        %span.label.label-info= t('.results')
        %form.record-cards__sort{ method: 'get', action: clients_url, role: 'search', 'aria-label' => t('.sort_label', default: 'Sort individuals') }
          - (params[:client_grid] || {}).each do |k, v|
            - next if %w(order descending).include?(k.to_s)
            - if v.is_a?(Array)
              - v.each { |item| concat hidden_field_tag("client_grid[#{k}][]", item) }
            - else
              = hidden_field_tag("client_grid[#{k}]", v)
          %label.sr-only{ for: 'client_grid_order' }= t('.sort_label', default: 'Sort individuals')
          = select_tag 'client_grid[order]', options_for_select([[t('.sort_status', default: 'Status'), 'status'], [t('.sort_id', default: 'ID'), 'slug'], [t('.sort_age', default: 'Age'), 'age'], [t('.sort_province', default: 'State'), 'province']], params.dig(:client_grid, :order)), include_blank: t('.sort_default', default: 'Sort by…'), id: 'client_grid_order', class: 'form-control input-sm record-cards__sort-select', onchange: 'this.form.submit()'
      .ibox-content
        %h2#clients-list-heading.sr-only= t('.grid_caption', default: 'Clients')
        %ul.record-cards{ role: 'list', 'aria-labelledby' => 'clients-list-heading', data: { 'info-load' => t('.load'), 'info-end' => t('.end') } }
          = render partial: 'clients/client_card', collection: @client_grid.assets, as: :object
        %span.hidden{ id: 'sinfo', 'data-infoshow' => t('.sInfoShow'), 'data-infoto' => t('.sInfoTo'), 'data-infototal' => t('.sInfoTotal') }
      .ibox-footer.text-center
        = paginate @client_grid.assets
